@import"../mixins/mixins";
@import"../import/vars";
%pageStyle{
    height: 100vh;
    margin: 0 14px;
    border-top: 1px solid $color-border;
}
.content{
    &_box{
        width: 100%;
        height: 100%;
        // background-color: #000;
    }
    &_pageone{
        height: calc(100vh - 65px);
        // padding-top: 2.3125rem;
        position: relative;
        &_box{
            position: relative;
            // top: calc(((100vh - 29.0625rem ) / 2) - (((100vh - 29.0625rem ) / 2) - 2.3125rem));
            top: calc(((100vh - 29.0625rem ) / 2));
        }
        &_icon{
            &_home-left{
                margin: 0 auto;
                // margin-top: 44px;
                width: 14.125rem;
                height: 11.5625rem;
            }
        }
        &_txtbox{
            margin: 0 auto;
            margin-top: 1.5rem;
            width: 16.875rem;//270px
            // height: 225px;
            position: relative;
            &_word{
                width: 123px;
                font-size: 2.1875rem;
                color:$color-txt;
                line-height: 1.4;
                font-weight: bold;
            }
            &_icon{
                position: absolute;
                bottom: -25%;
                right: 0;
                &_home-right{
                    width: 7.625rem;
                    height: 110px;
                }
            }
        }
        &_down{
            width: 30px;
            height: 30px;
            background-image: url(../image/page_down.svg);
            background-repeat: no-repeat;
            position: absolute;
            bottom: 25px;
            margin: 0 auto;
            right:calc((100% - 30px) / 2) ;
        }
        // &_right{
        //     // &_icon{

        //     // }
        // }
    }
    &_pagetwo{
        @extend %pageStyle;
        &_txtbox{
            margin:50px 0 20px 0;
            &_word{
                font-size: 48px;
                color:$color-txt;
                line-height: 1.4;
                font-weight: bold;
            }
        }
        &_img{
            width: 100%;
            height: calc(100% - 8.5625rem);
            margin: 0 auto;
            background-image: url(../image/mobile_thereis.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &_pagethree{
        flex-direction: column;
        @extend %pageStyle;
        &_imgbox{
            width: 6.5625rem;//105px
            height: 8.5625rem;//137px
            text-align: center;
            img{
                width: 6.5625rem;//105
                height: 6.5625rem;//105
                margin-bottom: .875rem;//14px
            }
            &_txt{
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
    &_pagefour{
        @extend %pageStyle;
        position: relative;
        flex-direction: column;
        &_img{
            &_left{
                img{
                    width: 8.625rem;//122px
                    height: 7.375rem;//102px
                    margin-left: 18px;
                }
            }
            &_right{
                img{
                    width: 6.9375rem;//95px
                    height: 6.3125rem;//85px
                    margin-right: 18px;
                }
            }
            &_centerbox{
                // width: 18.4375rem;//295px
                height: 12.25rem;//180px
                background-color: $color-gray;
            }
        }
    }
    &_pagefive{
        @extend %pageStyle;
        position: relative;
        &_txt{
            font-size: 2.5rem;
            width: 100%;
            position: absolute;
            top: 34px;
        }
        &_btn{
            &_box{
                width: 100%;
                flex-direction: column;
                button{
                    outline: none;
                }
            }
            font-size: 1.4375rem;//23px
            font-weight: bold;
            background-color: $color-btn-white;
            border: 1px solid $color-border;
            color: $color-txt;
            min-width: 11.8125rem;
            min-height: 3.3125rem;
            width: calc(100vw - 102px);;
            // max-width: 11.8125rem;
            max-height: 3.3125rem;
            border-radius: 2.75rem;
            &:first-child{
                margin-bottom: 3.1875rem;//51px
                background-color: $color-txt;
                color: #ffffff;
            }
            &:hover{
                background-color: $color-btn-hover;
                color: #ffffff;
                border: 1px solid $color-btn-hover;
            }
        }
    }
}