body,html{
    height: 100%;
}

/*------------*\
    navbox
\*------------*/
%hamnuger-line-post{
    position: relative;
    top: 0;
    transition: all 0.5s;
}
.navbox{
    position: fixed;
    width: 100%;
    background-color:$page-bg-color;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s;
    &_position{
        opacity: 0;
        transition: all 0.3s;
        &_opacity1{
            opacity: 1;
            height: 4.0625rem;//65px
            position: fixed;
            transition: all 0.5s;

        }
        &_opacity0{
            opacity: 0;
            height: 3.125rem;//50px
            position: relative;
            transition: all 0.5s;

        }
    }
    &_box{
        width: 100%;
        height: 65px;
        padding: 0 25px;
        box-shadow:0 3px 6px $color-shadow;
        position: relative;
        z-index: 1001;
        opacity: 1;
        // transition: all 0.3s;
    }
    &_log{
        width: 89px;
        // height: 45px;
    }
    &_hamburger{
        width: 30px;
        height: 30px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        div{
            width: 100%;
            height: 3px;
            // padding: 1.5px 0;
            background-color: $color-gray;
            border-radius: 5px;
            @extend %hamnuger-line-post
        }
        &_action{
            div{
                &:first-child{
                    transform: rotate(-45deg);
                    top:10px;
                    transition: all 0.5s;
                }
                &:nth-child(2){
                    top: -25px;
                    opacity: 0;
                    transform: all 0.5s;
                }
                &:last-child{
                    transform: rotate(45deg);
                    top:-10px;
                    transition: all 0.5s;
                }
            }
            }

    }
    &_hidden{
        // display: none;
        background-color: $page-bg-color;
        height: 100%;

    }
    &_menu{
        font-size: 1.5625rem;//25px
        color: $color-txt;
        font-weight: bold;
        opacity: 0;
        li{
           margin-bottom: 2.8125rem;//45px
           cursor: pointer;
           a{
                text-decoration:none;
                color:$color-txt ;

           }
           &:last-child{
               margin-top: 0px;
           } 
        }
    }
    &-hide-height{
        width: 100%;
        height: 65px;
 
    }
}
.footer{
    &_box{
        margin-bottom: 1.125rem;//18px
        text-align: center;
        font-size: .5625rem;//9px
    }
}
