body,html{
    height: 100%;
}

/*------------*\
    navbox
\*------------*/
%hamnuger-line-post{
    position: relative;
    top: 0;
    transition: all 0.5s;
}
.navbox{
    position: relative;
    &_box{
        width: 100%;
        height: 65px;
        padding: 0 25px;
        box-shadow:0 3px 6px $color-shadow;
        position: relative;
        z-index: 1001;
    }
    &_log{
        width: 89px;
        // height: 45px;
    }
    &_hamburger{
        width: 30px;
        height: 30px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div{
            width: 100%;
            height: 3px;
            // padding: 1.5px 0;
            background-color: $color-gray;
            border-radius: 5px;
            @extend %hamnuger-line-post
        }
        &_action{
            div{
                &:first-child{
                    transform: rotate(-45deg);
                    top:10px;
                    transition: all 0.5s;
                }
                &:nth-child(2){
                    top: -25px;
                    opacity: 0;
                    transform: all 0.5s;
                }
                &:last-child{
                    transform: rotate(45deg);
                    top:-10px;
                    transition: all 0.5s;
                }
            }
            }

    }
    &_hidden{
        // display: none;
        background-color: #000;
        height: 100%;
        &_hight{
            // height: 100%;
        }
    }
}
.footer{
    &_box{
        margin-bottom: 1.125rem;//18px
        text-align: center;
        font-size: .5625rem;//9px
    }
}
