/*------------*\
    平台主色調
\*------------*/
$page-bg-color:#ffffff;
$color-gray:#707070;
$color-shadow:#0000002F;

/*------------*\
    常用顏色
\*------------*/


/*---------------*\
    螢幕尺寸斷點
\*---------------*/
$xl-media:1200px;
$lg-media:992px;
$md-media:768px;
$sm-media:576px;
$pad-media:802px;
$pc-media:1920px;